.container {
    width: 40%;
    height: 100%;
    margin: auto;
    margin-top: 25px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #81dbe0 0%, #2f3380 100%);
}
.top-bar {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 30px;
}
.top-bar input{
    display: flex;
    width: 50%;
    height: 5px;
    background: #ebfffc;
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 30px;
    color: #626262;
    font-size: 15px;
    font-weight: 400;
}
.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}
.weather-image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.weather-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 80px;
    font-weight: 400;
}
.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-family: 400;
}

.data-container {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;

}
.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 10%;
}
.data {
    font-size: 20px;
    font-weight: 400;

}
.text {
    font-size: 20px;
    font-weight: 400;

}
.icon {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 5%;
    }
    .top-bar {
        padding-top: 20px;
    }
    .top-bar input{
        display: flex;
        width: 50%;
        height: 5px;
        background: #ebfffc;
        outline: none;
        border: none;
        border-radius: 40px;
        padding: 20px;
        color: #626262;
        font-size: 15px;
        font-weight: 400;
    }
    .search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #ebfffc;
        border-radius: 40px;
        cursor: pointer;
    }
    .weather-temp {
        font-size: 50px;
    }
    .weather-location {
        font-size: 30px;
    }
    .element {
        margin: auto;
        display: flex;
        align-items: flex-start;
        gap: 12px;
        margin-bottom: 10%;
    }
    .data {
        font-size: 16px;
    }
    .text {
        font-size: 16px;
    }
}
